body {
  font-size: 15px;
  font-family: Outfit;
  text-align: center;
  background-color: #d6e2f0;
}

.qrcode__container {
  max-width: 370px;
  min-width: 300px;
  border-radius: 15px;
  background-color: white;
  padding: 14px 14px 28px 14px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qrcode__container .qrcode--image img {
  width: 100%;
  border-radius: 15px;
}

.qrcode__container .qrcode--text {
  padding: 0 24px;
}

.qrcode__container .qrcode--text p {
  color: #7b879d;
}

.attribution {
  position: absolute;
  bottom: 0;
}
